/* ================= MOBILE TOP BAR ================= */

@media(max-width:768px){

.top-bar-content{

    justify-content:center;

    text-align:center;

}

.top-item{

    width:100%;

    justify-content:center;

}

}
/* ==========================================
   MOBILE NAVIGATION
========================================== */

@media screen and (max-width:768px){

.menu-toggle{

    display:block;

}

.navigation{

    display:none !important;

    width:100%;

    flex-direction:column;

    text-align:center;

    gap:20px;

    padding:20px 0;

    background:#ffffff;

    border-radius:12px;

    margin-top:15px;

}

.navigation.show{

    display:flex !important;

}

}